<!--
  File Name: bottom_nav.ejs
  Name: Sravan Kumar Reddy Konudula
  Id: 301237930
  Date: 2nd October 2022
-->
<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text" style="padding-left: 38% !important;color: white;">&copy; Copyright 2020. All Rights reserved.</h6>
    </nav>
  </footer>