<!--
  File Name: footer.ejs
  Name: Sravan Kumar Reddy Konudula
  Id: 301237930
  Date: 2nd October 2022
-->
<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>