<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-4">About me</h1>
      <div class="post-container">
        <h3 class="post-title">Sravan Kumar Reddy Konudula</h3>
        <div class="post-thumb"><img style="
            width: 200px;
            padding-bottom: 20px;
            padding-left: 10px;" src="/Assets/images/myPhoto.jpg" /></div>
        <div class="post-content">
            <p>I am software developer having around 8+ years of end-to-end .Net full stack development and SharePoint experience in all the phases of web applications. Involved in development and supporting Various Domain applica-tions, possess good communication, can easily adapt to the work platform. <br> I would like to work on in-novative products and process to further my professional goals as per my experience and back-ground. I thrive when challenged and look forward to continuously working in a motivated work force. </p>
            <br><br><br>
            <p>
                Please click <a href="/Assets/Resume.pdf">here </a>to view my resume.
            </p>
        </div>
        
        
    </div>
      
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  