<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  <!--
  File Name: index.ejs
  Name: Sravan Kumar Reddy Konudula
  Id: 301237930
  Date: 2nd October 2022
-->

  <!-- Introduction and Mission statement -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Hi, Welcome to my world</h1>
      <br>
      You can find about me <a href="/about"> here. </a>
      <br>
      <br>
      <br>
      <h3>Mission statement</h3>
      <p><b>I am an engineer.</b> I apply analytic thinking to problems and find a pragmatic solution that isn\'t a quick fix, but a lasting value.</p>

      <p><b>I am part of a team.</b>  In my software development team, I communicate clearly and proactively. I thrive for consistency and integrity of the creations of my team.</p>

        <p><b>I am a software craftsman.</b>  I am proud of my work and understand it as part of the creation of the commnity of software craftmanship, which I support.</p>

          <p><b>I am and always will be a student.</b>  I will keep the beginners mind by playing and experimenting without the fear of failure. There will always be things I have to learn and I will make mistakes, which develop me.</p>

            <p><b>I am an optimist and a realist.</b>  I always apply this mission statement in good faith and to achieve great results together with my team. In doing so, I am willing to learn and to teach. However, I acknowledge reality and respect mission statements of other people. Because I will not violate my mission statement, I will leave every situation where my core values are not shared.</p>
          </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




