<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Services</h1>
      <div>
      <p>I have experience in wide range of Microsoft technologies</p>
      <ul>
        <li>.Net</li>
        <li>SharePoint</li>
        <li>Entity Framework</li>
        <li>MVC</li>
        <li>SQL Server</li>
        <li>Web API</li>
        <li>Angular</li>
        <li>JavaScript</li>
      </ul>
    </div>
      
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  